
<html>
   <head>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/style.css">
   </head>
   <body>
   <div class="header">
	   <a href="/"><img src="../static/images/phraseable.png" height="70px"/></a>
   </div>
   <div class="main">

		<div class="content">
			<div class="content-header">
				<h2><em>Phraseable</em></h2>
    			<p>Extracting Pages from pdf using python and flask.</p>
			</div>
		</div>

	<div class="tab">
	  <button class="tablinks" onclick="openCity(event, 'Multiple Pages')" >Multiple Pages</button>
	  <button class="tablinks" onclick="openCity(event, 'Single Pages')">Single Pages</button>
	</div>

	<div id="Multiple Pages" class="tabcontent">
	  <h3>Multiple Pages</h3>
		<div class="form-control">
		{% if isFileSubmitted == False %}
			<form action = "/multi" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" /><br/>
				<div class="form-inline">
					<label for="start">Start</label>
					<input id="start" type = "text" name = "start" placeholder="start page" required/>
					<label for="end">End</label>
					<input id="end" type = "text" name = "end" placeholder="end page" required/>
				</div>
				<input id="submit-btn" type = "submit"/><br/>
			</form>
			{% if error is defined %}
			<div class="error">
				{{ error }}
			</div>
			{% endif %}
		{% endif %}

		</div>
	</div>

	<div id="Single Pages" class="tabcontent">
	  <h3>Single Pages</h3>
	  <div>
		  <form action="/single" method="POST" enctype="multipart/form-data">
			  <input type="file" name="pdf"/>
			  <input type="submit"/>
		  </form>
	  </div>
	</div>

	   	{% if isFileSubmitted == True %}
			<div class="download-link">
				<p>Download your processed File here:</p>
				<a href="/download?file={{fileName}}"> Download File</a>
			</div>
		{% endif %}

	</div>
   <script>
		function openCity(evt, cityName) {
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(cityName).style.display = "block";
		  evt.currentTarget.className += " active";
		}

		// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
	</script>

   </body>
</html>
